# VERIFICATION

# So Idea:
- get typical (aggregated) verification data for both regimes (100m box model structure)
- instead of aggregating to one year, get verification over 5 years per each regime

# now what to do first: 
1. get necessary raw data, 
2. then integrate over entire time-series & depth (if necessary)
3. create aggregated forcing raw csvs for model (simply include proper Date information, in addition to yday)
4. date truncation & aggregation can happen in python code of model!

In [2]:
### create one large file with all possible verification? (depends on where data is from, don't overcomplicate)

Let's write up what I need:
1. N_box, NH4_box - mean(100m)
2. Si_box
3. P_box
4. HPLC - integrated(100m) # possibly have 0-55 and 55-100 separated of potential later analysis (but then other compenents might need the same? no?)
4. FluorChla  - integrated(100m)
5. Zooplankton data
6. Export Flux (!)
7. Primary Production (?) [NISKIN]
8. PN for Detritus comparison (?) (maybe also POC, DOC, whatever makes sense, or just all of em)
9. Euphotic Zone depth
10.

In [1]:
# most important thing is not number of datasets, 
# but they they are structured and named conservatively, for easy reuse of functions

# NISKIN DATA

In [2]:
require(ncdf4, warn.conflicts = FALSE);
require(cowplot, warn.conflicts = FALSE);
require(tidyverse, warn.conflicts = FALSE);
require(oce, warn.conflicts = FALSE);

Loading required package: ncdf4
Loading required package: cowplot
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

********************************************************
Note: As of version 1.0.0, cowplot does not change the
  default ggplot2 theme anymore. To recover the previous
  behavior, execute:
  theme_set(theme_cowplot())
********************************************************

Loading required package: tidyverse
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.3
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: oce
Loading required package: testthat

Attaching package: ‘testthat’

The following object is masked from ‘package:dplyr’:

    matches

The following object is masked from ‘package:purrr’:

    is_null

Loading required package: gsw

In [5]:
# open a NetCDF file
niskdat <- nc_open("../01Observations/Data/niskin.netcdf")
#print(niskdat)

In [42]:
niskdat_df <- data.frame("Num" = 1:niskdat$dim$unlimited$len)
print('start')
for(i in 1:niskdat$nvars){
    #print(i)
    niskdat_df[paste(attributes(niskdat$var)$names[i])] <- ncvar_get(niskdat, attributes(niskdat$var)$names[i])
}
print('done reading')
head(niskdat_df)

[1] "start"
[1] "done reading"

  Num Cruise_number Cruise_ID_1 Cruise_ID_2 Leg Day Month Year Latitude
1 1   1             93HG_001    CAR-001     2   8   11    1995 10.5
2 2   1             93HG_001    CAR-001     2   8   11    1995 10.5
3 3   1             93HG_001    CAR-001     2   8   11    1995 10.5
4 4   1             93HG_001    CAR-001     2   8   11    1995 10.5
5 5   1             93HG_001    CAR-001     2   8   11    1995 10.5
6 6   1             93HG_001    CAR-001     2   8   11    1995 10.5
  Longitude ... Bact_Biomass_uMC Bio_cast_no ISO_DateTime_start_hc_local
1 -64.667   ... BM_master        2           1995-11-08T06:12:00
2 -64.667   ... BM_master        2           1995-11-08T06:12:00
3 -64.667   ... BM_master        2           1995-11-08T06:12:00
4 -64.667   ... BM_master        2           1995-11-08T06:12:00
5 -64.667   ... BM_master        2           1995-11-08T06:12:00
6 -64.667   ... BM_master        2           1995-11-08T06:12:00
  ISO_DateTime_end_hc_local ISO_DateTime_start_bc_local
1 1995-11-08T06:38:00       1995-11-08T03:36:00
2 1995-11-08T06:38:00       1995-11-08T03:36:00
3 1995-11-08T06:38:00       1995-11-08T03:36:00
4 1995-11-08T06:38:00       1995-11-08T03:36:00
5 1995-11-08T06:38:00       1995-11-08T03:36:00
6 1995-11-08T06:38:00       1995-11-08T03:36:00
  ISO_DateTime_end_bc_local ISO_DateTime_start_hc_UTC ISO_DateTime_end_hc_UTC
1 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
2 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
3 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
4 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
5 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
6 1995-11-08T03:54:00       1995-11-08T10:12:00       1995-11-08T10:38:00
  ISO_DateTime_start_bc_UTC ISO_DateTime_end_bc_UTC
1 1995-11-08T07:36:00       1995-11-08T07:54:00
2 1995-11-08T07:36:00       1995-11-08T07:54:00
3 1995-11-08T07:36:00       1995-11-08T07:54:00
4 1995-11-08T07:36:00       1995-11-08T07:54:00
5 1995-11-08T07:36:00       1995-11-08T07:54:00
6 1995-11-08T07:36:00       1995-11-08T07:54:00

In [43]:
niskdat_df$Date <- paste(niskdat_df$Year,'-',niskdat_df$Month,'-',niskdat_df$Day,sep='')

In [44]:
niskdat_df$date <- as.Date(niskdat_df$Date) # as.Date(substr(niskdat_df$ISO_DateTime_end_hc_UTC, 0, 10))

In [45]:
niskdat_df$Depth_real <- as.numeric(niskdat_df$Depth_real)
niskdat_df$Depth_target <- as.numeric(niskdat_df$Depth_target)

niskdat_df$Temperature <- as.numeric(niskdat_df$Temperature)
niskdat_df$NO3_NO2_USF <- as.numeric(niskdat_df$NO3_NO2_USF)
niskdat_df$SiO4_USF <- as.numeric(niskdat_df$SiO4_USF)
niskdat_df$PO4_USF <- as.numeric(niskdat_df$PO4_USF)

niskdat_df$Sigma_t <- as.numeric(niskdat_df$Sigma_t)
niskdat_df$Salinity_bottles <- as.numeric(niskdat_df$Salinity_bottles)
niskdat_df$Salinity_CTD <- as.numeric(niskdat_df$Salinity_CTD)

In [46]:
niskdat_df$O2_umol_kg <- as.numeric(niskdat_df$O2_umol_kg)
niskdat_df$POC_ug_kg <- as.numeric(niskdat_df$POC_ug_kg)
niskdat_df$PON_ug_kg <- as.numeric(niskdat_df$PON_ug_kg)
niskdat_df$PN_ug_L <- as.numeric(niskdat_df$PN_ug_L)

niskdat_df$C_N_particulate <- as.numeric(niskdat_df$C_N_particulate)
niskdat_df$PIP <- as.numeric(niskdat_df$PIP)
niskdat_df$TPP <- as.numeric(niskdat_df$TPP)
niskdat_df$DOC <- as.numeric(niskdat_df$DOC)
niskdat_df$PrimaryProductivity <- as.numeric(niskdat_df$PrimaryProductivity)
niskdat_df$Chlorophyll <- as.numeric(niskdat_df$Chlorophyll)
niskdat_df$Phaeopigments <- as.numeric(niskdat_df$Phaeopigments)

In [57]:
# Function to read specific verfication type from dataset
prepdataframe <- function(variable='', datasource='niskin'){
    if(datasource=='niskin'){
    DF <- niskdat_df
    DF$depth <- DF$Depth_real
    # print(names(DF))
        
    VarDF <- DF[complete.cases(DF[variable]),] %>%
      select(date, variable, depth) %>%
      gather(key='key',value = "value", -date, -depth)
    head(VarDF)
    }
    return(VarDF)
}

In [58]:
# integration functions (if necessary)

# adapt integration function from PINCKNEY
integrateJAYfunc <- function(x, y){
    N1 = length(y)
    area = 0
    
    for(j in 2:N1){
        area = area + (x[j] - x[j-1]) * (y[j] + y[j-1]) / 2
    }
    return(area)
}

intgrtJAY <- function(DFtest, reg, var){
    DF_int <- DFtest %>%
        group_by(date) %>%
        do(data.frame("value_int" = with(.,integrateJAYfunc(x=depth, y=value)), "reg" = reg , "var" = var)) %>%
        ungroup()
        
    return(DF_int)
}

In [59]:
# Interpolate
interpolateDF <- function(DF,func='oce-rr'){
    zz <- seq(0, 200, 1)
    
    if(func=='oce-rr'){
        IntDF <- DF %>%
            group_by(date) %>%
            do(data.frame(value_int = with(.,oceApprox(depth, value, zz, "rr")), depth = zz)) 
        }
    
    return(IntDF)
}

# take MEAN of concentrations at certain depth
meanTOdepth <- function(DF_int,type='fixed',depthFROM=0,depthTO=100){
    DF_means <- DF_int %>%
        group_by(date) %>% # this groups it by the run number 
        filter(depthFROM < depth & depth < depthTO) %>% # only keep values above the depth passed to function
        summarize('mean'=mean(value_int, na.rm=T))

    return(DF_means)}

In [68]:
Temperature <- prepdataframe('Temperature')
head(Temperature)
##############################
Temperature_int <- interpolateDF(Temperature)
##############################
Temperature_mean <- meanTOdepth(Temperature_int, type='fixed')
#head(Temperature_mean)
##############################
Temperature_atDEPTH <- meanTOdepth(Temperature_int, type='fixed', depthFROM = 100, depthTO = 150)
#head(Temperature_atDEPTH)

  date       depth key         value
1 1995-11-08  1.5  Temperature 27.49
2 1995-11-08  6.5  Temperature 27.50
3 1995-11-08 15.0  Temperature 27.49
4 1995-11-08 25.0  Temperature 26.30
5 1995-11-08 35.0  Temperature 25.32
6 1995-11-08 54.5  Temperature 24.75

# CTD DATA

In [7]:
# open a NetCDF file
ctdat <- nc_open("Data/ctd.netcdf")

#print(niskdat)

In [8]:
ctdat_df <- data.frame("Num" = 1:ctdat$dim$unlimited$len)
print('start')
for(i in 1:ctdat$nvars){
    #print(i)
    ctdat_df[paste(attributes(ctdat$var)$names[i])] <- ncvar_get(ctdat, attributes(ctdat$var)$names[i])
}
print('done reading')
head(ctdat_df)

[1] "start"
[1] "done reading"

  Num cruise_no Cruise_ID1 Cruise_ID2 Year Month Day Date       Latitude
1 1   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
2 2   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
3 3   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
4 4   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
5 5   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
6 6   1         93HG_001   CAR-001    1995 11    8   1995-11-08 10.5
  Longitude ... temp   sal    potemp sigma_t sigma_0 O2_ml_L beam_cp beam_att
1 -64.667   ...        36.612
2 -64.667   ... 27.522 36.612 27.522 23.764  23.764  3.964
3 -64.667   ... 27.489 36.612 27.488 23.775  23.775  3.978
4 -64.667   ... 27.465 36.614 27.464 23.782  23.782  3.984
5 -64.667   ... 27.458 36.613 27.456 23.786  23.787  3.990
6 -64.667   ... 27.454 36.613 27.452 23.787  23.787  3.992
  fluor_CTD fluor_chla
1 0.173
2 0.176
3 0.166
4 0.164
5 0.170
6 0.175

In [9]:
cat(names(ctdat_df))

Num cruise_no Cruise_ID1 Cruise_ID2 Year Month Day Date Latitude Longitude press depth temp sal potemp sigma_t sigma_0 O2_ml_L beam_cp beam_att fluor_CTD fluor_chla

In [10]:
ctdat_df$date <- as.Date(ctdat_df$Date)

ctdat_df$press <- as.numeric(ctdat_df$press)
ctdat_df$depth <- as.numeric(ctdat_df$depth)
ctdat_df$temp <- as.numeric(ctdat_df$temp)
ctdat_df$sal <- as.numeric(ctdat_df$sal)
ctdat_df$potemp <- as.numeric(ctdat_df$potemp) 
ctdat_df$sigma_t <- as.numeric(ctdat_df$sigma_t)
ctdat_df$sigma_0 <- as.numeric(ctdat_df$sigma_0)
ctdat_df$O2_ml_L <- as.numeric(ctdat_df$O2_ml_L)
ctdat_df$beam_cp <- as.numeric(ctdat_df$beam_cp)
ctdat_df$beam_att <- as.numeric(ctdat_df$beam_att)
ctdat_df$fluor_CTD <- as.numeric(ctdat_df$fluor_CTD)
ctdat_df$fluor_chla <- as.numeric(ctdat_df$fluor_chla)

In [11]:
ctdat_df[ctdat_df>10000000000]=NA

In [61]:
CTDx258 <- ctdat_df %>%
  group_by(date) %>% # this groups it by the run number 
  #filter(press > 8) %>% # only take values below 8 meters depth to minimze influence of surface anomalies
  mutate(belowmld = sigma_t >= 25.8) %>% # create new column that gives "True" for values with sigma t higher than 25.8
  filter(belowmld == T) %>% # only take "True" values 
  slice(1) %>% # takes the first occurrence
  ungroup() #removes grouping

# HPLC Data

## TOTAL CHLA

In [3]:
TotChlA <- read.csv("CARIACO Data Chl a Contour Plot.csv")
# units: ng l^-1

In [4]:
tail(TotChlA)

    Time.1 Depth.1 Chla.1 Time.2 Depth.2 Chla.2
486        NA      NA            NA      NA
487        NA      NA            NA      NA
488        NA      NA            NA      NA
489        NA      NA            NA      NA
490        NA      NA            NA      NA
491        NA      NA            NA      NA

In [6]:
TotChlA$Date.1 <- as.Date(as.character(TotChlA$Time.1), format="%m/%d/%y")
TotChlA$Date.2 <- as.Date(as.character(TotChlA$Time.2), format="%m/%d/%y")

In [7]:
TCHLA1 <- data.frame(Date = TotChlA$Date.1, depth=TotChlA$Depth.1, Tchla = TotChlA$Chla.1)  
TCHLA2 <- data.frame(Date = TotChlA$Date.2, depth=TotChlA$Depth.2, Tchla = TotChlA$Chla.2)

In [8]:
TCHLATDF <- rbind(TCHLA1, TCHLA2)

In [10]:
head(TCHLATDF)

  Date       depth Tchla
1 1995-12-14  1    107
2 1995-12-14  7    139
3 1995-12-14 15    163
4 1995-12-14 25    408
5 1995-12-14 35    241
6 1995-12-14 55     88

## FT CHLA

In [11]:
PinckINTchla <- read.csv("IntegratedValues_PINCKNEY.csv", dec=',', sep=';')

In [20]:
head(PinckINTchla)
# units: mg m^2

  Year Month Day Date       Depth    Date.1     Tchla  Prasino3 Dino1 Crypto1
1 1995 Dec   14  1995-12-14 0 - 55 m 14-Dec-95   11.34 1.93     0.85  0.66
2 1996 Jan   13  1996-01-13 0 - 55 m 13. Jan 96  41.94 0.96     6.23  1.08
3 1996 Feb   14  1996-02-14 0 - 55 m 14. Feb 96  25.44 1.08     1.79  1.81
4 1996 0     13  1996-03-13 0 - 55 m 13-Mar-96   20.21 0.37     1.80  0.92
5 1996 Apr   17  1996-04-17 0 - 55 m 17. Apr 96 167.78 0.84     2.72  2.76
6 1996 May   10  1996-05-10 0 - 55 m 10-May-96   42.38 0.92     0.01  0.22
  Hapto6 Chloro1 Cyano4 Diatom1
1  2.13   0.00   0.66    5.10
2  2.55   0.59   0.40   27.86
3  1.79   0.00   0.25   18.14
4  1.84   0.09   0.25   14.23
5 50.01  11.79   1.35   98.30
6  9.38   1.03   0.53   30.14

In [13]:
PinckINTchla$Date <- as.Date(as.character(PinckINTchla$Date), format="%m.%d.%y")

In [14]:
PINT1 <- PinckINTchla[PinckINTchla$Depth == "0 - 55 m",]
PINT2 <- PinckINTchla[PinckINTchla$Depth == "55 - 100 m",]

In [15]:
PINT <- merge(PINT1,PINT2, by="Date")

In [16]:
PINT$Tchla <- PINT$Tchla.x + PINT$Tchla.y
PINT$Prasino3 <- PINT$Prasino3.x + PINT$Prasino3.y
PINT$Crypto1 <- PINT$Crypto1.x + PINT$Crypto1.y
PINT$Hapto6 <- PINT$Hapto6.x + PINT$Hapto6.y
PINT$Chloro1 <- PINT$Chloro1.x + PINT$Chloro1.y
PINT$Cyano4 <- PINT$Cyano4.x + PINT$Cyano4.y
PINT$Diatom1 <- PINT$Diatom1.x + PINT$Diatom1.y

In [17]:
Tchla    <- data.frame('Date'=PINT$Date, 'val'=PINT$Tchla,   'spec'='Tchla')
Prasino3 <- data.frame('Date'=PINT$Date, 'val'=PINT$Prasino3,'spec'='Prasino3')
Crypto1  <- data.frame('Date'=PINT$Date, 'val'=PINT$Crypto1, 'spec'='Crypto1')
Hapto6   <- data.frame('Date'=PINT$Date, 'val'=PINT$Hapto6,  'spec'='Hapto6')
Chloro1  <- data.frame('Date'=PINT$Date, 'val'=PINT$Chloro1, 'spec'='Chloro1')
Cyano4   <- data.frame('Date'=PINT$Date, 'val'=PINT$Cyano4,  'spec'='Cyano4')
Diatom1  <- data.frame('Date'=PINT$Date, 'val'=PINT$Diatom1, 'spec'='Diatom1')

In [18]:
PINTDF <- rbind(Tchla, Prasino3, Crypto1, Hapto6, Chloro1, Cyano4, Diatom1)

In [19]:
head(PINTDF)

  Date       val    spec
1 1995-12-14  13.54 Tchla
2 1996-01-13  44.21 Tchla
3 1996-02-14  28.77 Tchla
4 1996-03-13  21.26 Tchla
5 1996-04-17 171.92 Tchla
6 1996-05-10  44.24 Tchla

In [11]:
#write.csv(PINTDF, file = "PINTDF_integratedChlorophyll.csv")

# ZOOPLANKTON DATA

In [ ]:
"zooplankton.netcdf"

# EXPORT FLUX

In [ ]:
"Sediment_Trap.netcdf"
"std_car_TRAPflux"