In [1]:
library(tidyverse)#, warn.conflicts = FALSE)

# library to read matlab data formats into R
#library(reshape2)
#library(lubridate)

# set strings as factors to false
options(stringsAsFactors = FALSE)

── Attaching packages ───────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.0     ✔ forcats 0.5.1

── Conflicts ──────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# read WIND data

In [2]:
wind_ds <- read.csv("DATA/ERA5_CombinedMonthlyData.csv")

In [3]:
names(wind_ds)

 [1] "X"          "time.x"     "cdww"       "iews"       "inss"
 [6] "mcc"        "mwp"        "si10"       "sp"         "sst"
[11] "t2m"        "tauoc"      "u10"        "ust"        "v10"
[16] "v10n"       "vst"        "wind"       "time_month" "time.y"
[21] "cdir"       "e"          "ewss"       "i10fg"      "lsp"
[26] "magss"      "mer"        "metss"      "mmtss"      "mntss"
[31] "mtpr"       "nsss"       "sshf"       "tp"

In [4]:
wind_ds_cleaned <- wind_ds %>%
    select(-X, -time.x, -time.y)

# read NISKIN data

In [5]:
niskin_ds <- read.csv("DATA/January/Niskin_qchecked_100m.csv")

In [6]:
names(niskin_ds)

 [1] "X"                   "NO3_UDO"             "time_month"
 [4] "PO4_UDO"             "SiO4_UDO"            "NH4_USF"
 [7] "NO2_USF"             "NO3_NO2_USF"         "PO4_USF"
[10] "SiO4_USF"            "pH_corrected"        "Salinity_bottles"
[13] "Temperature"         "Sigma_t"             "PrimaryProductivity"
[16] "Chlorophyll"         "Phaeopigments"       "NO3_USF"

In [7]:
niskin_ds_cleaned <- niskin_ds %>%
    select(-X)

In [8]:
niskin_ds_35m <- read.csv("DATA/January/Niskin_qchecked_35m.csv")

# rename cols to separate
colnames(niskin_ds_35m)<-paste(colnames(niskin_ds_35m),"35m",sep="_")

niskin_ds_cleaned_35m <- niskin_ds_35m %>%
 mutate(time_month = time_month_35m) %>%
    select(-X_35m, -time_month_35m)

In [9]:
niskin_ds_35to100m <- read.csv("DATA/January/Niskin_qchecked_35to100m.csv")

# rename cols to separate
colnames(niskin_ds_35to100m)<-paste(colnames(niskin_ds_35to100m),"35to100m",sep="_")

niskin_ds_cleaned_35to100m <- niskin_ds_35to100m %>%
 mutate(time_month = time_month_35to100m) %>%
    select(-X_35to100m, -time_month_35to100m)

In [27]:
names(niskin_ds_cleaned_35m)

 [1] "NO3_UDO_35m"             "PO4_UDO_35m"
 [3] "SiO4_UDO_35m"            "NH4_USF_35m"
 [5] "NO2_USF_35m"             "NO3_NO2_USF_35m"
 [7] "PO4_USF_35m"             "SiO4_USF_35m"
 [9] "pH_corrected_35m"        "Salinity_bottles_35m"
[11] "Temperature_35m"         "Sigma_t_35m"
[13] "PrimaryProductivity_35m" "Chlorophyll_35m"
[15] "Phaeopigments_35m"       "NO3_USF_35m"
[17] "time_month"

# read SST/CTD data

here need to add MLD and isopycnal, reanalyzed because MLD2EuZ is only until 2013

In [10]:
ctd_ds <- read.csv("DATA/January/CTD_Isotherm21_MLD.csv")

In [11]:
names(ctd_ds)

[1] "X"           "date"        "Isotherm_21" "MLD"

In [12]:
# add time_month column to ctd ds
ctd_ds$date = as.Date(ctd_ds$date, format="%Y-%m-%d")

ctd_ds_month <- ctd_ds %>%
  mutate(time_month = format(date, format = "%m-%Y"))

In [13]:
head(ctd_ds_month)

  X date       Isotherm_21 MLD time_month
1 1 1995-11-08 131         25  11-1995
2 2 1995-12-14 115         20  12-1995
3 3 1996-01-13 103         39  01-1996
4 4 1996-02-14  96         29  02-1996
5 5 1996-03-13  49         33  03-1996
6 6 1996-04-16  49         38  04-1996

In [14]:
ctd_ds_month_cleaned <- ctd_ds_month %>%
    select(-X, -date)

# read Phytoplankton data

- func group counts : these are only counts, not that meaningful, should be presence absence

- species richness : more useful

### HPLC func group + Tchla

In [15]:
# functional group counts integrated

HPLC_phyto_ds <- read.csv("DATA/January/HPLC_Tchla_FuncType_sum100m.csv")

names(HPLC_phyto_ds)

 [1] "X"        "date"     "Tchla"    "Prasino3" "Dino1"    "Crypto1"
 [7] "Hapto6"   "Chloro1"  "Cyano4"   "Diatom1"

In [16]:
# add time_month column to ctd ds
HPLC_phyto_ds$date = as.Date(HPLC_phyto_ds$date, format="%Y-%m-%d")

HPLC_phyto_ds_month <- HPLC_phyto_ds %>%
  mutate(time_month = format(date, format = "%m-%Y")) %>%
  select(-X, -date)

str(HPLC_phyto_ds_month)

'data.frame':	163 obs. of  9 variables:
 $ Tchla     : num  13.5 44.2 28.8 21.3 171.9 ...
 $ Prasino3  : num  2.54 1.43 1.64 0.49 1.11 1.11 4.43 0.89 4.19 0.82 ...
 $ Dino1     : num  0.96 6.33 1.84 1.8 2.72 0.01 0.79 1.03 0.57 1.05 ...
 $ Crypto1   : num  0.66 1.08 1.93 0.92 2.76 0.22 3.81 0.19 0.14 0.64 ...
 $ Hapto6    : num  2.67 3.03 2.18 2.05 50.81 ...
 $ Chloro1   : num  0 0.59 0 0.09 11.84 ...
 $ Cyano4    : num  0.83 0.46 0.34 0.27 1.36 0.54 0.11 2.7 1.42 2.91 ...
 $ Diatom1   : num  5.87 29.02 20.23 14.93 101.3 ...
 $ time_month: chr  "12-1995" "01-1996" "02-1996" "03-1996" ...

# Read Zooplankton Data

In [17]:
zoo_ds <- read.csv("DataPipeline/ZooplanktonBiomass_CleanedAggregated.csv")

names(zoo_ds)

[1] "X"             "Date"          "Mesh200"       "Mesh500"
[5] "total_biomass"

In [18]:
# add time_month column to ctd ds
zoo_ds$date = as.Date(zoo_ds$Date, format="%Y-%m-%d")

zoo_ds_month <- zoo_ds %>%
  mutate(time_month = format(date, format = "%m-%Y"))

In [19]:
zoo_ds_month_cleaned <- zoo_ds_month %>%
    select(-X, -Date, -date)

In [20]:
#zoo_ds_month_cleaned

# Read Satellite DATA

In [21]:
SeaWiFS_raw <- read.csv("SatelliteData/MERGE/SeaWiFS_monthly_mean.csv")

MODIS_raw <- read.csv("SatelliteData/MERGE/MODIS_monthly_mean.csv")

SatCONCAT_raw <- read.csv("SatelliteData/MERGE/SatelliteCONCAT_monthly_mean.csv")

In [22]:
head(SeaWiFS_raw)

  date       year month day lon      lat     value
1 1997-10-31 1997 10    16  -64.6835 10.6875 0.2311170
2 1997-11-30 1997 11    15  -64.6835 10.6875 0.6380158
3 1997-12-31 1997 12    16  -64.6835 10.6875 0.9182222
4 1998-01-31 1998  1    16  -64.6835 10.6875 1.2453725
5 1998-02-28 1998  2    14  -64.6835 10.6875 0.5960208
6 1998-03-31 1998  3    16  -64.6835 10.6875 1.9649349

In [23]:
# add time_month column to ctd ds
SeaWiFS_raw$date = as.Date(SeaWiFS_raw$date, format="%Y-%m-%d")
MODIS_raw$date = as.Date(MODIS_raw$date, format="%Y-%m-%d")
SatCONCAT_raw$date = as.Date(SatCONCAT_raw$date, format="%Y-%m-%d")

SeaWiFS_month <- SeaWiFS_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), SeaWiFS_chla=value) %>%
    select(time_month, SeaWiFS_chla)

MODIS_month <- MODIS_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), MODIS_chla=value) %>%
    select(time_month, MODIS_chla)

SatCONCAT_month <- SatCONCAT_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), Satellite_chla=value) %>%
    select(time_month, Satellite_chla)

# NOW MERGE!

datasets=

    wind_ds_cleaned

    niskin_ds_cleaned

    ctd_ds_month_cleaned
    
    HPLC_phyto_ds_month
    
    zoo_ds_month_cleaned
    
    MODIS + SeaWiFS

In [28]:
require(purrr)
require(dplyr)

CARIACO_dat_joined <- list(wind_ds_cleaned, 
                           niskin_ds_cleaned, 
                           niskin_ds_cleaned_35m,
                           niskin_ds_cleaned_35to100m,
                           ctd_ds_month_cleaned, 
                           HPLC_phyto_ds_month,
                           zoo_ds_month_cleaned,
                           SeaWiFS_month,
                           MODIS_month,
                           SatCONCAT_month
                          ) %>% 
  reduce(full_join, by = c("time_month"))

In [29]:
head(CARIACO_dat_joined$time_month)

[1] "01-1979" "02-1979" "03-1979" "04-1979" "05-1979" "06-1979"

In [30]:
CARIACO_dat_joined_truncated <- CARIACO_dat_joined[203:518,]

In [31]:
write.csv(CARIACO_dat_joined_truncated, "DATA/January/Combined_CARIACO_data_v5.csv")

In [55]:
#length(CARIACO_dat_joined$time_month)

[1] 500