In [5]:
library(tidyverse)#, warn.conflicts = FALSE)

# library to read matlab data formats into R
#library(reshape2)
#library(lubridate)

# set strings as factors to false
options(stringsAsFactors = FALSE)

── Attaching packages ──────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.0     ✔ forcats 0.5.1

── Conflicts ─────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# read WIND data

In [6]:
wind_ds <- read.csv("DATA/ERA5_CombinedMonthlyData.csv")

In [7]:
names(wind_ds)

 [1] "X"          "time.x"     "cdww"       "iews"       "inss"
 [6] "mcc"        "mwp"        "si10"       "sp"         "sst"
[11] "t2m"        "tauoc"      "u10"        "ust"        "v10"
[16] "v10n"       "vst"        "wind"       "time_month" "time.y"
[21] "cdir"       "e"          "ewss"       "i10fg"      "lsp"
[26] "magss"      "mer"        "metss"      "mmtss"      "mntss"
[31] "mtpr"       "nsss"       "sshf"       "tp"

In [8]:
# limit time range to necessary_values

wind_ds[wind_ds$time_month == "05-1995",]$X

wind_ds[wind_ds$time_month == "05-1995",]$X

[1] 197

[1] 197

In [9]:
wind_ds_cleaned <- wind_ds %>%
    select(-X, -time.x, -time.y)

# read NISKIN data

In [10]:
niskin_ds <- read.csv("DATA/Niskin_mergedNutrients.csv")

In [11]:
names(niskin_ds)

 [1] "X"                   "O2_ml_L"             "time_month"
 [4] "O2_umol_kg"          "NO3_UDO"             "PO4_UDO"
 [7] "SiO4_UDO"            "NH4_USF"             "NO2_USF"
[10] "NO3_NO2_USF"         "PO4_USF"             "SiO4_USF"
[13] "pH"                  "Alkalinity_mol_kg"   "Alkalinity_umol_kg"
[16] "TCO2"                "fCO2"                "pH_corrected"
[19] "TCO2_corrected"      "fCO2_corrected"      "Salinity_bottles"
[22] "Salinity_CTD"        "Temperature"         "Sigma_t"
[25] "TPP"                 "PIP"                 "POC_ug_kg"
[28] "PON_ug_kg"           "POC_ug_L"            "PN_ug_L"
[31] "C_N_particulate"     "DON"                 "DOP"
[34] "DOC"                 "TOC"                 "PrimaryProductivity"
[37] "Chlorophyll"         "Phaeopigments"       "Total_Prokaryotes"
[40] "Bact_Biomass_mgC_m3" "Bact_Biomass_uMC"    "NO3_USF"
[43] "NO3_merged"          "PO4_merged"          "SiO4_merged"

In [12]:
niskin_ds_cleaned <- niskin_ds %>%
    select(-X)

# read SST/CTD data

here need to add MLD and isopycnal, reanalyzed because MLD2EuZ is only until 2013

In [13]:
ctd_ds <- read.csv("DataPipeline/CTD_combinedData.csv")

In [14]:
names(ctd_ds)

[1] "X"            "Cruise_ID2"   "date"         "temp_5"       "temp_15"
[6] "temp_25"      "temp_75"      "Isopycnal_21" "MLD_potemp"

In [15]:
# add time_month column to ctd ds
ctd_ds$date = as.Date(ctd_ds$date, format="%Y-%m-%d")

ctd_ds_month <- ctd_ds %>%
  mutate(time_month = format(date, format = "%m-%Y"))

In [16]:
ctd_ds_month_cleaned <- ctd_ds_month %>%
    select(-X, -date, -Cruise_ID2)

# read Phytoplankton data

- func group counts : these are only counts, not that meaningful, should be presence absence

- species richness : more useful

### functional group counts integrated

In [17]:
# functional group counts integrated

fgcounts_phyto_ds <- read.csv("DataPipeline/IntegratedPhytoplanktonFuncGroupCounts.csv")

names(fgcounts_phyto_ds)

[1] "X"                 "date"              "COCCOLITHOPHORIDS"
[4] "DIATOMS"           "DINOFLAGELLATES"   "CYANOBACTERIA"
[7] "OTHERS"            "NANOFLAGELLATES"

In [18]:
# add time_month column to ctd ds
fgcounts_phyto_ds$date = as.Date(fgcounts_phyto_ds$date, format="%Y-%m-%d")

fgcounts_phyto_ds_month <- fgcounts_phyto_ds %>%
  rename_with( ~ paste0("counts_int_", .x)) %>%
  mutate(time_month = format(counts_int_date, format = "%m-%Y"))

### species richness total

In [19]:
# species richness total

sr_phyto_ds <- read.csv("DataPipeline/IntegratedPhytoplanktonSpeciesRichnessEstimate.csv")

names(sr_phyto_ds)

[1] "X"                "date"             "species_richness"

In [20]:
# add time_month column to ctd ds
sr_phyto_ds$date = as.Date(sr_phyto_ds$date, format="%Y-%m-%d")

sr_phyto_ds_month <- sr_phyto_ds %>%
  mutate(time_month = format(date, format = "%m-%Y"))

### Func Group species richness

In [21]:
# species richness per func group

fgsr_phyto_ds <- read.csv("DataPipeline/IntegratedPhytoplanktonFuncGroupSpeciesRichness.csv")

names(fgsr_phyto_ds)

[1] "X"                 "date"              "COCCOLITHOPHORIDS"
[4] "CYANOBACTERIA"     "DIATOMS"           "DINOFLAGELLATES"
[7] "OTHERS"

In [22]:
# add time_month column to ctd ds
fgsr_phyto_ds$date = as.Date(fgsr_phyto_ds$date, format="%Y-%m-%d")

#fgsr_phyto_ds_month %>% rename_with( ~ paste0("SR_", .x))

fgsr_phyto_ds_month <- fgsr_phyto_ds %>%
 rename_with( ~ paste0("SR_", .x)) %>%
  mutate(time_month = format(SR_date, format = "%m-%Y"))

In [23]:
#fgsr_phyto_ds_month

### MERGE PHYTOPLANKTON DATA 
#### clean up

In [24]:
phyto_1 <- left_join(fgsr_phyto_ds_month, sr_phyto_ds_month, by = "time_month")

In [25]:
phyto_2 <- left_join(phyto_1, fgcounts_phyto_ds_month, by="time_month")

In [26]:
names(phyto_2)

 [1] "SR_X"                         "SR_date"
 [3] "SR_COCCOLITHOPHORIDS"         "SR_CYANOBACTERIA"
 [5] "SR_DIATOMS"                   "SR_DINOFLAGELLATES"
 [7] "SR_OTHERS"                    "time_month"
 [9] "X"                            "date"
[11] "species_richness"             "counts_int_X"
[13] "counts_int_date"              "counts_int_COCCOLITHOPHORIDS"
[15] "counts_int_DIATOMS"           "counts_int_DINOFLAGELLATES"
[17] "counts_int_CYANOBACTERIA"     "counts_int_OTHERS"
[19] "counts_int_NANOFLAGELLATES"

In [27]:
phyto_cleaned <- phyto_2 %>%
    select(-SR_X, -SR_date, -X, -date, -counts_int_X, -counts_int_date)

# Read Zooplankton Data

In [28]:
zoo_ds <- read.csv("DataPipeline/ZooplanktonBiomass_CleanedAggregated.csv")

names(zoo_ds)

[1] "X"             "Date"          "Mesh200"       "Mesh500"
[5] "total_biomass"

In [29]:
# add time_month column to ctd ds
zoo_ds$date = as.Date(zoo_ds$Date, format="%Y-%m-%d")

zoo_ds_month <- zoo_ds %>%
  mutate(time_month = format(date, format = "%m-%Y"))

In [30]:
zoo_ds_month_cleaned <- zoo_ds_month %>%
    select(-X, -Date, -date)

In [31]:
#zoo_ds_month_cleaned

# Read Satellite DATA

In [45]:
SeaWiFS_raw <- read.csv("SatelliteData/MERGE/SeaWiFS_monthly_mean.csv")

MODIS_raw <- read.csv("SatelliteData/MERGE/MODIS_monthly_mean.csv")

SatCONCAT_raw <- read.csv("SatelliteData/MERGE/SatelliteCONCAT_monthly_mean.csv")

In [33]:
head(SeaWiFS_raw)

  date       year month day lon      lat     value
1 1997-10-31 1997 10    16  -64.6835 10.6875 0.2311170
2 1997-11-30 1997 11    15  -64.6835 10.6875 0.6380158
3 1997-12-31 1997 12    16  -64.6835 10.6875 0.9182222
4 1998-01-31 1998  1    16  -64.6835 10.6875 1.2453725
5 1998-02-28 1998  2    14  -64.6835 10.6875 0.5960208
6 1998-03-31 1998  3    16  -64.6835 10.6875 1.9649349

In [61]:
# add time_month column to ctd ds
SeaWiFS_raw$date = as.Date(SeaWiFS_raw$date, format="%Y-%m-%d")
MODIS_raw$date = as.Date(MODIS_raw$date, format="%Y-%m-%d")
SatCONCAT_raw$date = as.Date(SatCONCAT_raw$date, format="%Y-%m-%d")

SeaWiFS_month <- SeaWiFS_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), SeaWiFS_chla=value) %>%
    select(time_month, SeaWiFS_chla)

MODIS_month <- MODIS_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), MODIS_chla=value) %>%
    select(time_month, MODIS_chla)

SatCONCAT_month <- SatCONCAT_raw %>%
  mutate(time_month = format(date, format = "%m-%Y"), Satellite_chla=value) %>%
    select(time_month, Satellite_chla)

# NOW MERGE!

datasets=

    wind_ds_cleaned

    niskin_ds_cleaned

    ctd_ds_month_cleaned
    
    phyto_cleaned
    
    zoo_ds_month_cleaned
    
    MODIS + SeaWiFS

In [63]:
require(purrr)
require(dplyr)

CARIACO_dat_joined <- list(wind_ds_cleaned, 
                           niskin_ds_cleaned, 
                           ctd_ds_month_cleaned, 
                           phyto_cleaned,
                           zoo_ds_month_cleaned,
                           SeaWiFS_month,
                           MODIS_month,
                           SatCONCAT_month
                          ) %>% 
  reduce(left_join, by = c("time_month"))

In [64]:
CARIACO_dat_joined_truncated <- CARIACO_dat_joined[203:500,]

In [65]:
write.csv(CARIACO_dat_joined_truncated, "DATA/Combined_CARIACO_data_v3.csv")

In [55]:
#length(CARIACO_dat_joined$time_month)

[1] 500