# Get master list of cruises and dates to match data to

In [1]:
# read ctd file
ctd <- read.csv("../DATA_processed/CTDdat_processed.csv")

In [2]:
head(ctd)

  X CruiseID Date       month days press  depth lat  lon    sigma_t sigma_0
1 1 93HG_001 1995-11-08 11    311   2.011  2    10.5 -64.67 23.764  23.764
2 2 93HG_001 1995-11-08 11    311   4.023  4    10.5 -64.67 23.775  23.775
3 3 93HG_001 1995-11-08 11    311   6.034  6    10.5 -64.67 23.782  23.782
4 4 93HG_001 1995-11-08 11    311   8.046  8    10.5 -64.67 23.786  23.787
5 5 93HG_001 1995-11-08 11    311  10.057 10    10.5 -64.67 23.787  23.787
6 6 93HG_001 1995-11-08 11    311  12.069 12    10.5 -64.67 23.787  23.788
  potemp sal    temp   beam_att beam_cp fluor_chla
1 27.522 36.612 27.522 NA       NA      NA
2 27.488 36.612 27.489 NA       NA      NA
3 27.464 36.614 27.465 NA       NA      NA
4 27.456 36.613 27.458 NA       NA      NA
5 27.452 36.613 27.454 NA       NA      NA
6 27.449 36.612 27.452 NA       NA      NA

In [3]:
master <- data.frame(CruiseID=levels(ctd$CruiseID),Date=levels(as.factor(ctd$Date)))

#reformat Date from chr to Date
master$Date <- as.Date(master$Date, format="%Y-%m-%d")

# get just month and year for merging later
master$DateMonth <- format(master$Date, format="%Y-%m")

str(master)

'data.frame':	198 obs. of  3 variables:
 $ CruiseID : Factor w/ 198 levels "93HG_001","93HG_002",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Date     : Date, format: "1995-11-08" "1995-12-13" ...
 $ DateMonth: chr  "1995-11" "1995-12" "1996-01" "1996-02" ...

# Read Pinckney MLD data, match to master and clean up

In [4]:
# read MLD depth file
MLD_2015 <- read.csv("MLD_Cariaco_Edit.csv")

# read Date column
MLD_2015$Date <- as.Date(MLD_2015$date, format="%m/%d/%y")

# get just month and year for merging later
MLD_2015$DateMonth <- format(MLD_2015$Date, format="%Y-%m")

In [5]:
MLD_2015_fixed <- merge(master,MLD_2015,by = "DateMonth", all = "true")

In [6]:
str(MLD_2015_fixed)

'data.frame':	207 obs. of  7 variables:
 $ DateMonth: chr  "1995-11" "1995-12" "1996-01" "1996-02" ...
 $ CruiseID : Factor w/ 198 levels "93HG_001","93HG_002",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Date.x   : Date, format: "1995-11-08" "1995-12-13" ...
 $ cuise    : int  NA NA 3 4 5 6 7 8 9 10 ...
 $ date     : Factor w/ 203 levels "01/01/08","01/01/09",..: NA NA 14 31 48 65 82 99 116 133 ...
 $ MLD      : int  NA NA 36 28 28 32 12 21 14 22 ...
 $ Date.y   : Date, format: NA NA ...

# Read LEGACY MLD

In [13]:
# read MLD depth file
MLD_2019 <- read.csv("Upwelling_Final-Feb 2018_edit_incISO.csv", sep=';', dec=',')

# read Date column
MLD_2019$Date <- as.Date(MLD_2019$Date, format="%m.%d.%y")

# get just month and year for merging later
MLD_2019$DateMonth <- format(MLD_2019$Date, format="%Y-%m")

In [14]:
str(MLD_2019)

'data.frame':	230 obs. of  5 variables:
 $ Date     : Date, format: "1995-11-01" "1995-12-01" ...
 $ MLD      : num  24.14 18.1 10.06 8.05 10.06 ...
 $ X21degC  : int  130 114 102 94 48 48 30 81 108 86 ...
 $ X22degC  : int  118 94 62 66 24 26 8 39 93 48 ...
 $ DateMonth: chr  "1995-11" "1995-12" "1996-01" "1996-02" ...

In [15]:
MLD_201519 <- merge(MLD_2015_fixed,MLD_2019,by = "DateMonth", all = "True")

In [16]:
str(MLD_201519)

'data.frame':	240 obs. of  11 variables:
 $ DateMonth: chr  "1995-11" "1995-12" "1996-01" "1996-02" ...
 $ CruiseID : Factor w/ 198 levels "93HG_001","93HG_002",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Date.x   : Date, format: "1995-11-08" "1995-12-13" ...
 $ cuise    : int  NA NA 3 4 5 6 7 8 9 10 ...
 $ date     : Factor w/ 203 levels "01/01/08","01/01/09",..: NA NA 14 31 48 65 82 99 116 133 ...
 $ MLD.x    : int  NA NA 36 28 28 32 12 21 14 22 ...
 $ Date.y   : Date, format: NA NA ...
 $ Date     : Date, format: "1995-11-01" "1995-12-01" ...
 $ MLD.y    : num  24.14 18.1 10.06 8.05 10.06 ...
 $ X21degC  : int  130 114 102 94 48 48 30 81 108 86 ...
 $ X22degC  : int  118 94 62 66 24 26 8 39 93 48 ...

# Read euphotic depth data, and clean up data frame

In [17]:
# read MLD depth file
EuZ <- read.csv("par_Light_Level_edit.csv")

# read Date column
EuZ$DateEu <- as.Date(EuZ$Fecha, format="%m/%d/%y")

# get just month and year for merging later
EuZ$DateMonth <- format(EuZ$DateEu, format="%Y-%m")

In [18]:
str(EuZ)

'data.frame':	132 obs. of  7 variables:
 $ Campaign : Factor w/ 131 levels "","C118","C119",..: 72 73 74 75 76 77 78 79 80 81 ...
 $ Fecha    : Factor w/ 131 levels "","1/1/98","1/1/99",..: 23 32 2 42 54 67 89 101 111 121 ...
 $ X0.10.   : num  59 59 46.5 NA 25.5 74 71 60 71.5 74 ...
 $ X1.      : num  48.5 34 33 NA 14.5 45 45 41.5 48 57.5 ...
 $ X10.     : num  23 13.5 14 21 6.5 21 23.5 17.5 29 27 ...
 $ DateEu   : Date, format: "1997-11-01" "1997-12-01" ...
 $ DateMonth: chr  "1997-11" "1997-12" "1998-01" "1998-02" ...

In [19]:
MEZ <- merge(MLD_201519,EuZ,by = "DateMonth", all = "True")

In [20]:
str(MEZ)

'data.frame':	241 obs. of  17 variables:
 $ DateMonth: chr  "1995-11" "1995-12" "1996-01" "1996-02" ...
 $ CruiseID : Factor w/ 198 levels "93HG_001","93HG_002",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Date.x   : Date, format: "1995-11-08" "1995-12-13" ...
 $ cuise    : int  NA NA 3 4 5 6 7 8 9 10 ...
 $ date     : Factor w/ 203 levels "01/01/08","01/01/09",..: NA NA 14 31 48 65 82 99 116 133 ...
 $ MLD.x    : int  NA NA 36 28 28 32 12 21 14 22 ...
 $ Date.y   : Date, format: NA NA ...
 $ Date     : Date, format: "1995-11-01" "1995-12-01" ...
 $ MLD.y    : num  24.14 18.1 10.06 8.05 10.06 ...
 $ X21degC  : int  130 114 102 94 48 48 30 81 108 86 ...
 $ X22degC  : int  118 94 62 66 24 26 8 39 93 48 ...
 $ Campaign : Factor w/ 131 levels "","C118","C119",..: NA NA NA NA NA NA NA NA NA NA ...
 $ Fecha    : Factor w/ 131 levels "","1/1/98","1/1/99",..: NA NA NA NA NA NA NA NA NA NA ...
 $ X0.10.   : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1.      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X10.     : num  NA NA NA NA NA NA NA NA NA NA ...
 $ DateEu   : Date, format: NA NA ...

# Export csv containing all values

In [21]:
# clean up data frame
ALLDATA <- data.frame(CruiseID = MEZ$CruiseID, Date = MEZ$Date.x, MLD2015 = MEZ$MLD.x,
                     MLD2019 = MEZ$MLD.y, x0.1 = MEZ$X0.10., x1 = MEZ$X1., x10 =MEZ$X10., '21degC'=MEZ$X21degC, '22degC'=MEZ$X22degC)
ALLDATA_filt <- ALLDATA[complete.cases(ALLDATA$CruiseID),]

In [22]:
# Write CSV in R
write.csv(ALLDATA_filt, file = "../DATA_processed/MLD2EuZ_2.csv")