# for loop Ernesto

In [2]:
library(readxl)

In [3]:
# small example
dat<- as.data.frame(read_excel("Example_endemism.xlsx"))
#check data
A <- rowSums(dat)
 
# Get permutations
perms = data.frame(SiteA = c(1, 2, 3), SiteB = c(2, 3, 2), SiteC = c(3, 1, 1))
outdat = data.frame(Values = c("m", "e1", "e1/m"))
for (i in 1:nrow(perms)){
  # Order sites to compare
  siteA = perms$SiteA[i]
  siteB = perms$SiteB[i]
  siteC = perms$SiteC[i]

  # Subset sites
  dat1 = dat[c(siteA, siteB, siteC), 2:11]
    print(dat1)
  # Calculate metrics
  e1 = sum(ifelse(dat1[1, ] == 1, ifelse(dat1[2, ] == 0, ifelse(dat1[3, ] == 0, 1, 0), 0), 0))
  m = length(which(colSums(dat1) == 3))
  e1_m = e1/m
  # Build data frame
  indat = data.frame(site = c(m, e1, e1_m))
  names(indat) = paste0("Site_", siteA, "-", siteB, "-", siteC)
  # Bind data frame
  outdat = cbind(outdat, indat)
}
print(outdat)

  Sp1 Sp2 Sp3 Sp4 Sp5 Sp6 Sp7 Sp8 Sp9 Sp10
1   1   1   1   0   1   1   1   1   0    0
2   0   0   1   1   0   1   0   1   0    0
3   0   0   0   1   1   1   0   1   1    1
  Sp1 Sp2 Sp3 Sp4 Sp5 Sp6 Sp7 Sp8 Sp9 Sp10
2   0   0   1   1   0   1   0   1   0    0
3   0   0   0   1   1   1   0   1   1    1
1   1   1   1   0   1   1   1   1   0    0
  Sp1 Sp2 Sp3 Sp4 Sp5 Sp6 Sp7 Sp8 Sp9 Sp10
3   0   0   0   1   1   1   0   1   1    1
2   0   0   1   1   0   1   0   1   0    0
1   1   1   1   0   1   1   1   1   0    0
  Values Site_1-2-3 Site_2-3-1 Site_3-2-1
1      m        2.0          2          2
2     e1        3.0          0          2
3   e1/m        1.5          0          1

In [16]:
perms

x <- data.frame(c(1:3))
x

  SiteA SiteB SiteC
1 1     2     3
2 2     3     1
3 3     2     1

  c.1.3.
1 1
2 2
3 3

In [59]:
x = data.frame(t(dat[2:ncol(dat)]))

for (i in 1:ncol(x)){
    cbind(x[i],x[-i])
}

In [14]:
library(dplyr)

x = data.frame(t(dat[2:ncol(dat)]))

numSites = ncol(x)

results <- data.frame()


for (i in 1:numSites){
    reargX <- cbind(x[i],x[-i])
    
    calc <- reargX %>%
        mutate(SUM = rowSums(.)) %>%
        rowwise() %>%
        mutate(uniqueX = X1>0 & SUM==1, AllPresent = SUM==numSites) %>%
        ungroup() %>%
        summarise(m = sum(AllPresent), e1 = sum(uniqueX) ,e1_m = e1/m)
    
    results <- rbind(results, calc)
    
}

results

  m e1 e1_m
1 2 3  1.5
2 2 3  1.5
3 2 3  1.5

In [11]:
x <- data.frame()


for (i in 1:1000){
 x <- rbind(x, sample.int(3, 3))   
}


x2 <- x[!duplicated(x), ]
x2

   X3L X2L X1L
1  3   2   1
2  3   1   2
5  1   3   2
8  2   3   1
9  1   2   3
11 2   1   3

[1] 3 1 2

In [112]:
library(plyr)
a=c(1,2,3)

     [,1] [,2] [,3]
[1,] 1    2    3

In [69]:
# small example
dat<- as.data.frame(read_excel("Example_endemism.xlsx"))
#check data
A <- rowSums(dat)
 
# Get permutations
newperms = 

perms = data.frame(SiteA = c(1, 2, 3), SiteB = c(2, 3, 2), SiteC = c(3, 1, 1))


outdat = data.frame(Values = c("m", "e1", "e1/m"))
for (i in 1:nrow(perms)){
  # Order sites to compare
  siteA = perms$SiteA[i]
  siteB = perms$SiteB[i]
  siteC = perms$SiteC[i]

  # Subset sites
  dat1 = dat[c(siteA, siteB, siteC), 2:11]
    print(dat1)
  # Calculate metrics
  e1 = sum(ifelse(dat1[1, ] == 1, ifelse(dat1[2, ] == 0, ifelse(dat1[3, ] == 0, 1, 0), 0), 0))
  m = length(which(colSums(dat1) == 3))
  e1_m = e1/m
  # Build data frame
  indat = data.frame(site = c(m, e1, e1_m))
  names(indat) = paste0("Site_", siteA, "-", siteB, "-", siteC)
  # Bind data frame
  outdat = cbind(outdat, indat)
}
print(outdat)

ERROR: Error in data.frame(SiteA = c(1, 2, 3), SiteB = c(2, 3, 2), SiteC = c(3, : argument is missing, with no default

In [32]:
perms = data.frame(SiteA = c(1, 2, 3), SiteB = c(2, 3, 2), SiteC = c(3, 1, 1))

for (i in 1:nrow(perms)){
    siteA = perms$SiteA[i]
    siteB = perms$SiteB[i]
    siteC = perms$SiteC[i]
        print(c(siteA,siteB,siteC))
}

[1] 1 2 3
[1] 2 3 1
[1] 3 2 1

In [11]:
dat

  Site Sp1 Sp2 Sp3 Sp4 Sp5 Sp6 Sp7 Sp8 Sp9 Sp10
1 1    1   1   1   0   1   1   1   1   0   0
2 2    0   0   1   1   0   1   0   1   0   0
3 3    0   0   0   1   1   1   0   1   1   1

In [7]:
 # real data
load("Ocurrence_Pico_surf.RData")

In [10]:
str(Ocurrence_Pico_surf)

'data.frame':	9 obs. of  17323 variables:
 $ OTU_1    : num  1 1 1 1 1 1 1 1 1
 $ OTU_10   : num  1 1 1 1 0 0 1 0 1
 $ OTU_100  : num  0 1 0 1 0 0 1 0 1
 $ OTU_1000 : num  0 1 0 0 0 0 1 1 0
 $ OTU_10002: num  0 0 0 0 0 0 1 0 0
 $ OTU_10003: num  0 1 0 1 0 1 1 0 1
 $ OTU_10006: num  0 0 0 0 0 0 0 1 0
 $ OTU_1001 : num  0 0 0 0 0 0 1 1 0
 $ OTU_10012: num  0 0 0 0 0 0 1 0 0
 $ OTU_10013: num  0 0 0 0 1 0 0 0 0
 $ OTU_10019: num  0 1 1 1 0 1 1 1 1
 $ OTU_1002 : num  1 0 1 0 0 0 0 0 1
 $ OTU_10020: num  0 0 0 0 0 0 0 0 0
 $ OTU_10027: num  0 0 1 0 0 0 0 0 0
 $ OTU_1003 : num  0 1 0 1 0 0 1 0 0
 $ OTU_10033: num  0 0 0 0 0 0 0 0 0
 $ OTU_10045: num  0 1 1 0 0 0 0 0 1
 $ OTU_10047: num  1 1 1 1 1 1 1 1 1
 $ OTU_1005 : num  0 1 0 0 0 0 1 0 1
 $ OTU_10056: num  1 1 0 1 1 1 1 0 1
 $ OTU_10058: num  0 0 0 0 0 0 1 0 1
 $ OTU_1006 : num  0 0 0 0 0 0 0 1 0
 $ OTU_10061: num  0 1 0 0 0 0 0 0 0
 $ OTU_10066: num  0 0 0 0 1 0 0 0 1
 $ OTU_10067: num  0 0 0 0 0 0 0 0 1
 $ OTU_1007 : num  1 1 0 0 0 0 1 0 1
 $ OTU_10070: num  0 0 0 1 0 0 1 1 1
 $ OTU_10077: num  0 0 1 0 0 0 1 1 0
 $ OTU_1008 : num  0 0 0 0 0 0 0 0 1
 $ OTU_10084: num  0 0 0 0 0 0 1 0 0
 $ OTU_10087: num  0 1 0 0 1 1 1 0 1
 $ OTU_10093: num  0 1 0 0 0 0 1 0 0
 $ OTU_10096: num  0 0 0 0 0 0 0 0 1
 $ OTU_101  : num  0 0 0 1 1 0 0 1 1
 $ OTU_1011 : num  0 0 1 1 0 0 0 1 0
 $ OTU_10113: num  0 0 0 0 0 0 1 0 0
 $ OTU_10115: num  0 0 0 0 0 0 0 0 1
 $ OTU_1012 : num  0 0 0 1 1 0 1 1 1
 $ OTU_10124: num  1 0 0 0 0 0 0 0 0
 $ OTU_10126: num  1 0 1 0 1 1 1 0 1
 $ OTU_10127: num  0 0 0 0 0 0 0 0 0
 $ OTU_10128: num  0 0 0 0 0 0 0 1 0
 $ OTU_1013 : num  1 1 1 0 0 0 1 1 0
 $ OTU_10130: num  0 0 0 0 0 0 0 0 1
 $ OTU_10135: num  0 1 0 0 0 0 0 0 0
 $ OTU_10136: num  0 0 0 0 0 0 0 0 0
 $ OTU_10137: num  0 0 0 0 0 0 0 0 0
 $ OTU_1014 : num  0 0 1 1 0 0 0 1 0
 $ OTU_10140: num  0 0 1 0 0 0 0 0 0
 $ OTU_10145: num  1 1 0 0 1 0 1 1 1
 $ OTU_10149: num  0 0 0 0 0 0 0 0 1
 $ OTU_10157: num  0 0 1 1 1 1 1 1 1
 $ OTU_1016 : num  0 1 0 0 0 1 1 1 1
 $ OTU_10160: num  0 1 0 0 0 0 0 0 0
 $ OTU_10165: num  0 0 0 0 0 0 0 0 0
 $ OTU_10167: num  0 1 1 1 1 0 1 1 0
 $ OTU_1017 : num  0 1 1 1 1 0 1 1 1
 $ OTU_10171: num  0 0 0 0 0 0 0 1 0
 $ OTU_10179: num  0 0 0 1 0 0 0 0 0
 $ OTU_1018 : num  0 1 1 1 1 1 1 0 0
 $ OTU_10180: num  1 1 1 1 1 0 0 1 1
 $ OTU_10181: num  0 0 0 1 0 0 0 0 0
 $ OTU_10187: num  0 0 0 1 0 0 0 0 0
 $ OTU_1019 : num  0 0 1 1 0 0 0 0 1
 $ OTU_10198: num  0 0 0 0 0 0 0 0 1
 $ OTU_102  : num  1 0 1 1 0 1 1 1 1
 $ OTU_1020 : num  0 0 0 0 0 0 1 0 0
 $ OTU_10200: num  0 1 0 0 0 1 0 0 1
 $ OTU_1021 : num  1 0 0 1 0 0 0 1 0
 $ OTU_10213: num  0 0 0 0 0 0 1 0 0
 $ OTU_10215: num  1 1 1 1 1 1 1 1 1
 $ OTU_10216: num  1 0 0 1 1 0 0 0 0
 $ OTU_1022 : num  1 0 1 1 0 0 1 1 1
 $ OTU_10221: num  0 0 1 1 0 0 0 0 1
 $ OTU_10225: num  0 0 0 0 0 0 1 0 0
 $ OTU_10229: num  0 1 0 0 0 0 0 1 1
 $ OTU_10233: num  0 0 0 0 0 0 0 0 0
 $ OTU_1024 : num  1 1 0 1 0 0 1 1 1
 $ OTU_10249: num  0 1 0 0 0 0 0 0 1
 $ OTU_10266: num  0 0 0 0 0 0 0 1 0
 $ OTU_1027 : num  0 0 0 1 0 0 0 0 1
 $ OTU_10283: num  0 1 0 0 0 0 0 0 0
 $ OTU_10285: num  0 0 0 0 0 0 1 0 0
 $ OTU_10288: num  1 1 1 1 1 0 0 0 1
 $ OTU_1029 : num  0 1 1 0 0 0 1 0 1
 $ OTU_10291: num  0 1 1 1 0 0 0 0 1
 $ OTU_103  : num  1 1 1 1 1 0 1 1 1
 $ OTU_1030 : num  0 0 0 1 0 0 0 1 1
 $ OTU_10302: num  0 1 0 1 0 0 0 0 0
 $ OTU_10305: num  0 0 0 0 0 0 1 0 0
 $ OTU_10307: num  0 0 0 0 0 0 0 0 0
 $ OTU_1031 : num  0 0 0 1 0 0 0 1 0
 $ OTU_10310: num  0 0 0 0 0 0 0 0 0
 $ OTU_10313: num  0 1 0 0 1 0 1 1 0
 $ OTU_1032 : num  0 0 1 1 1 0 0 1 0
 $ OTU_10321: num  0 0 0 0 0 1 0 0 0
 $ OTU_10326: num  0 0 0 0 0 0 0 0 1
 $ OTU_10328: num  0 1 0 0 1 0 0 1 1
 $ OTU_10329: num  0 0 0 0 0 0 1 0 0
  [list output truncated]