In [2]:
library(tidyverse, warn.conflicts = FALSE)

# library to read matlab data formats into R
library(reshape2)
library(lubridate)
library(viridis)
library(oce)

# set strings as factors to false
#options(stringsAsFactors = FALSE)

# GET INTEGRATED HPLC FOR TCHLA AND FUNC TYPES

In [14]:
HPLC_raw <- read.csv("../../HPLC/IntegratedValues_PINCKNEY.csv", sep=";", dec=",")

In [15]:
HPLC_raw$date <- as.Date(HPLC_raw$Date, format="%m.%d.%y")
HPLC_raw$Depth <- as.factor(HPLC_raw$Depth)
HPLC_raw$depth_num <- as.numeric(HPLC_raw$Depth) - 1

In [16]:
str(HPLC_raw)

'data.frame':	325 obs. of  16 variables:
 $ Year     : int  1995 1996 1996 1996 1996 1996 1996 1996 1996 1996 ...
 $ Month    : chr  "Dec" "Jan" "Feb" "0" ...
 $ Day      : int  14 13 14 13 17 10 13 11 7 11 ...
 $ Date     : chr  "12.14.95" "01.13.96" "02.14.96" "03.13.96" ...
 $ Depth    : Factor w/ 2 levels "0 - 55 m","55 - 100 m": 1 1 1 1 1 1 1 1 1 1 ...
 $ Date.1   : chr  "14-Dec-95" "13. Jan 96" "14. Feb 96" "13-Mar-96" ...
 $ Tchla    : num  11.3 41.9 25.4 20.2 167.8 ...
 $ Prasino3 : num  1.93 0.96 1.08 0.37 0.84 0.92 3.6 0.52 2.04 0.49 ...
 $ Dino1    : num  0.85 6.23 1.79 1.8 2.72 0.01 0.79 0.79 0.43 0.57 ...
 $ Crypto1  : num  0.66 1.08 1.81 0.92 2.76 0.22 3.13 0.19 0.14 0.33 ...
 $ Hapto6   : num  2.13 2.55 1.79 1.84 50.01 ...
 $ Chloro1  : num  0 0.59 0 0.09 11.79 ...
 $ Cyano4   : num  0.66 0.4 0.25 0.25 1.35 0.53 0.09 2.07 1.17 1.51 ...
 $ Diatom1  : num  5.1 27.9 18.1 14.2 98.3 ...
 $ date     : Date, format: "1995-12-14" "1996-01-13" ...
 $ depth_num: num  0 0 0 0 0 0 0 0 0 0 ...

In [19]:
HPLC <- HPLC_raw %>%
    select(-Year, - Month, -Day, -Date, -Date.1)

In [20]:
str(HPLC)

'data.frame':	325 obs. of  11 variables:
 $ Depth    : Factor w/ 2 levels "0 - 55 m","55 - 100 m": 1 1 1 1 1 1 1 1 1 1 ...
 $ Tchla    : num  11.3 41.9 25.4 20.2 167.8 ...
 $ Prasino3 : num  1.93 0.96 1.08 0.37 0.84 0.92 3.6 0.52 2.04 0.49 ...
 $ Dino1    : num  0.85 6.23 1.79 1.8 2.72 0.01 0.79 0.79 0.43 0.57 ...
 $ Crypto1  : num  0.66 1.08 1.81 0.92 2.76 0.22 3.13 0.19 0.14 0.33 ...
 $ Hapto6   : num  2.13 2.55 1.79 1.84 50.01 ...
 $ Chloro1  : num  0 0.59 0 0.09 11.79 ...
 $ Cyano4   : num  0.66 0.4 0.25 0.25 1.35 0.53 0.09 2.07 1.17 1.51 ...
 $ Diatom1  : num  5.1 27.9 18.1 14.2 98.3 ...
 $ date     : Date, format: "1995-12-14" "1996-01-13" ...
 $ depth_num: num  0 0 0 0 0 0 0 0 0 0 ...

In [30]:
write.csv(HPLC, "../../DATA/January/HPLC_Tchla_FuncTypes_055_55100.csv")

## sum up depth intervals

In [31]:
HPLC100m <- HPLC %>%
    group_by(date) %>%
    summarize(Tchla = sum(Tchla),
             Prasino3 = sum(Prasino3),
             Dino1 = sum(Dino1),
             Crypto1 = sum(Crypto1),
             Hapto6 = sum(Hapto6),
             Chloro1 = sum(Chloro1),
             Cyano4 = sum(Cyano4),
             Diatom1 = sum(Diatom1)
             )

In [32]:
str(HPLC100m)

tibble [163 Ã— 9] (S3: tbl_df/tbl/data.frame)
 $ date    : Date[1:163], format: "1995-12-14" "1996-01-13" ...
 $ Tchla   : num [1:163] 13.5 44.2 28.8 21.3 171.9 ...
 $ Prasino3: num [1:163] 2.54 1.43 1.64 0.49 1.11 1.11 4.43 0.89 4.19 0.82 ...
 $ Dino1   : num [1:163] 0.96 6.33 1.84 1.8 2.72 0.01 0.79 1.03 0.57 1.05 ...
 $ Crypto1 : num [1:163] 0.66 1.08 1.93 0.92 2.76 0.22 3.81 0.19 0.14 0.64 ...
 $ Hapto6  : num [1:163] 2.67 3.03 2.18 2.05 50.81 ...
 $ Chloro1 : num [1:163] 0 0.59 0 0.09 11.84 ...
 $ Cyano4  : num [1:163] 0.83 0.46 0.34 0.27 1.36 0.54 0.11 2.7 1.42 2.91 ...
 $ Diatom1 : num [1:163] 5.87 29.02 20.23 14.93 101.3 ...

In [33]:
write.csv(HPLC100m, "../../DATA/January/HPLC_Tchla_FuncType_sum100m.csv")