# Read CTD data

In [1]:
import xarray as xr
import pandas as pd
import numpy as np

In [3]:
ctd = xr.open_dataset("../../VeryNEWESTCariacoData/ctd.netcdf")

In [18]:
ctd.data_vars

Data variables:
    cruise_no   (unlimited) float64 1.0 1.0 1.0 1.0 ... 232.0 232.0 232.0 232.0
    Cruise_ID1  (unlimited) <U8 '93HG_001' '93HG_001' ... '93HG_232' '93HG_232'
    Cruise_ID2  (unlimited) |S513 b'CAR-001' b'CAR-001' ... b'CAR-232'
    Year        (unlimited) float64 1.995e+03 1.995e+03 ... 2.017e+03 2.017e+03
    Month       (unlimited) float64 11.0 11.0 11.0 11.0 11.0 ... 1.0 1.0 1.0 1.0
    Day         (unlimited) float64 8.0 8.0 8.0 8.0 8.0 ... 17.0 17.0 17.0 17.0
    Date        (unlimited) datetime64[ns] 1995-11-08 1995-11-08 ... 2017-01-17
    Latitude    (unlimited) float64 10.5 10.5 10.5 10.5 ... 10.5 10.5 10.5 10.5
    Longitude   (unlimited) float64 -64.67 -64.67 -64.67 ... -64.67 -64.67
    press       (unlimited) float64 1.006 2.011 4.023 ... 1.311e+03 1.312e+03
    depth       (unlimited) float64 1.0 2.0 4.0 ... 1.298e+03 1.299e+03 1.3e+03
    temp        (unlimited) float64 nan 27.52 27.49 27.46 ... 17.32 17.32 17.32
    sal         (unlimited) float64 36.61 36.61 36.61 ... 36.26 36.26 36.26
    potemp      (unlimited) |S513 b'' b'27.522' ... b'17.088' b'17.088'
    sigma_t     (unlimited) |S513 b'' b'23.764' ... b'26.408' b'26.407'
    sigma_0     (unlimited) |S513 b'' b'23.764' ... b'26.462' b'26.462'
    O2_ml_L     (unlimited) |S513 b'' b'3.964' b'3.978' ... b'-0.003' b'-0.003'
    beam_cp     (unlimited) |S513 b'' b'' b'' b'' ... b'0.043' b'0.042' b'0.046'
    beam_att    (unlimited) |S513 b'' b'' b'' b'' ... b'0.407' b'0.406' b'0.410'
    fluor_CTD   (unlimited) float64 0.173 0.176 0.166 ... 9.969e+36 9.969e+36
    fluor_chla  (unlimited) |S513 b'' b'' b'' b'' b'' ... b'' b'' b'' b'' b''

# Convert and clean up datasets

In [11]:
def convert_str_data(data, var):
    return data[var].str.decode('utf-8')#, errors='coerce')

In [12]:
def convert_numeric_data(data, var):
    return pd.to_numeric(data[var], errors='coerce')

In [13]:
# numerics
ctd['temp'].values = convert_numeric_data(ctd, 'temp')

In [15]:
# dates
ctd.Date.values = pd.to_datetime(ctd.Date.astype('str').values)

In [17]:
# strings
ctd['Cruise_ID1'] = convert_str_data(ctd, 'Cruise_ID1')

In [9]:
CTD_dat_pd = ctd.to_array().to_pandas()  #.to_csv("CTD_data_export")

In [10]:
CTD_dat_pd.T

variable,cruise_no,Cruise_ID1,Cruise_ID2,Year,Month,Day,Date,Latitude,Longitude,press,...,temp,sal,potemp,sigma_t,sigma_0,O2_ml_L,beam_cp,beam_att,fluor_CTD,fluor_chla
unlimited,,,,,,,,,,,,,,,,,,,,,
0,1,b'93HG_001',b'CAR-001',1995,11,8,b'1995-11-08',10.5,-64.667,1.006,...,b'',36.612,b'',b'',b'',b'',b'',b'',0.173,b''
1,1,b'93HG_001',b'CAR-001',1995,11,8,b'1995-11-08',10.5,-64.667,2.011,...,b'27.522',36.612,b'27.522',b'23.764',b'23.764',b'3.964',b'',b'',0.176,b''
2,1,b'93HG_001',b'CAR-001',1995,11,8,b'1995-11-08',10.5,-64.667,4.023,...,b'27.489',36.612,b'27.488',b'23.775',b'23.775',b'3.978',b'',b'',0.166,b''
3,1,b'93HG_001',b'CAR-001',1995,11,8,b'1995-11-08',10.5,-64.667,6.034,...,b'27.465',36.614,b'27.464',b'23.782',b'23.782',b'3.984',b'',b'',0.164,b''
4,1,b'93HG_001',b'CAR-001',1995,11,8,b'1995-11-08',10.5,-64.667,8.046,...,b'27.458',36.613,b'27.456',b'23.786',b'23.787',b'3.990',b'',b'',0.17,b''
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288040,232,b'93HG_232',b'CAR-232',2017,1,17,b'2017-01-17',10.501,-64.666,1308,...,b'17.314',36.262,b'17.088',b'26.408',b'26.462',b'-0.003',b'0.043',b'0.407',9.96921e+36,b''
288041,232,b'93HG_232',b'CAR-232',2017,1,17,b'2017-01-17',10.501,-64.666,1309,...,b'17.314',36.262,b'17.088',b'26.408',b'26.462',b'-0.003',b'0.043',b'0.407',9.96921e+36,b''
288042,232,b'93HG_232',b'CAR-232',2017,1,17,b'2017-01-17',10.501,-64.666,1310,...,b'17.315',36.263,b'17.088',b'26.408',b'26.463',b'-0.004',b'0.043',b'0.407',9.96921e+36,b''
288043,232,b'93HG_232',b'CAR-232',2017,1,17,b'2017-01-17',10.501,-64.666,1311,...,b'17.315',36.262,b'17.088',b'26.408',b'26.462',b'-0.003',b'0.042',b'0.406',9.96921e+36,b''
288044,232,b'93HG_232',b'CAR-232',2017,1,17,b'2017-01-17',10.501,-64.666,1312,...,b'17.315',36.262,b'17.088',b'26.407',b'26.462',b'-0.003',b'0.046',b'0.410',9.96921e+36,b''

# export as CSV