# Read CTDdat.ncdf 

this R notebook reads (and cleans up) the CTD ncdf file that is provided on  
  
https://www.bco-dmo.org/dataset/3092

This .ncdf file is a collection of monthly CTD runs at CARIACO Ocean Time Series Station.

In [2]:
require(dplyr, warn.conflicts = FALSE);
#require(ggplot2);
require(cowplot, warn.conflicts = FALSE); # for nicer plots, includes ggplot2
require(chron, warn.conflicts = FALSE);
require(ncdf4, warn.conflicts = FALSE);

Loading required package: dplyr
Loading required package: cowplot
Loading required package: ggplot2
Loading required package: chron
Loading required package: ncdf4

In [3]:
nctdname <- "DATA_raw/Zooplankton.netcdf"
# open a NetCDF file
nctdin <- nc_open(nctdname)

print(nctdin)

File DATA_raw/Zooplankton.netcdf (NC_FORMAT_CLASSIC):

     11 variables (excluding dimension variables):
        char Cruise_ID[maxlen_,unlimited]
        double lon[unlimited]
        double lat[unlimited]
        double Date[unlimited]
        double Year[unlimited]
        double Month[unlimited]
        double Day[unlimited]
        double zoop_DW_200[unlimited]
        double zoop_ash_200[unlimited]
        double zoop_DW_500[unlimited]
        double zoop_ash_500[unlimited]

     2 dimensions:
        unlimited  Size:34   *** is unlimited ***
        maxlen_  Size:513

In [5]:
CruiseID <- ncvar_get(nctdin,"Cruise_ID")
date <- ncvar_get(nctdin,"Date")
month <- ncvar_get(nctdin,"Month")
zoop_DW_200 <- ncvar_get(nctdin,"zoop_DW_200")   # milligrams/meter^3 
zoop_ash_200 <- ncvar_get(nctdin,"zoop_ash_200") # milligrams/meter^3 
zoop_DW_500 <- ncvar_get(nctdin, "zoop_DW_500")  # milligrams/meter^3 
zoop_ash_500 <- ncvar_get(nctdin, "zoop_ash_500")# milligrams/meter^3 

nc_close(nctdin)

In [6]:
DateString <- date
Date <- as.POSIXlt(as.character(date), format="%Y%m%d")

days <- Date$yday

In [17]:
zoop_DW_500[zoop_DW_500>1e30] <- NA
zoop_ash_500[zoop_ash_500>1e30] <- NA
str(zoop_DW_500)
str(zoop_ash_500)

 num [1:34(1d)] 15.95 2.34 0.71 4.93 NA ...
 num [1:34(1d)] 3.31 0.07 0.18 0.18 NA 0.77 2.15 0.09 0.35 0.13 ...

In [18]:
ZOOdat <- data.frame(CruiseID,Date,month,days,zoop_DW_200,zoop_ash_200,zoop_DW_500,zoop_ash_500)
head(ZOOdat)

  CruiseID Date       month days zoop_DW_200 zoop_ash_200 zoop_DW_500
1 93HG_071 2001-10-09 10    281  26.83       6.84         15.95
2 93HG_072 2001-11-06 11    309   7.43       0.64          2.34
3 93HG_073 2001-12-11 12    344   5.60       0.14          0.71
4 93HG_074 2002-01-10  1      9  10.24       0.51          4.93
5 93HG_075 2002-02-14  2     44  12.92       2.56            NA
6 93HG_076 2002-03-12  3     70  10.55       1.78          5.47
  zoop_ash_500
1 3.31
2 0.07
3 0.18
4 0.18
5   NA
6 0.77

In [19]:
tail(ZOOdat)

   CruiseID Date       month days zoop_DW_200 zoop_ash_200 zoop_DW_500
29 93HG_100 2004-05-13  5    133  11.47       4.07          5.11
30 93HG_101 2004-06-08  6    159  14.01       3.86         10.72
31 93HG_102 2004-07-07  7    188  18.15       5.62          7.91
32 93HG_103 2004-08-10  8    222  15.80       3.88          8.86
33 93HG_104 2004-09-07  9    250  11.44       2.44          3.24
34 93HG_105 2004-10-05 10    278   5.40       1.07          2.81
   zoop_ash_500
29 2.82
30 4.29
31 2.33
32 2.95
33 1.05
34 1.11

In [20]:
# Write CSV in R
write.csv(ZOOdat, file = "DATA_processed/ZOOPLANKTON_processed.csv")