# CREATE USEFUL MODEL FORCING (instead of MLD)
that affects kappa / mixing coefficient

- first of all, think about how to implement this, then perhaps create some "mixing" statistic, that actually checks how much mixing is going on
- then i can compare the MLD slab model with the box model, and keep the total mixing in ranges that are reasonable

but for this:
- constant kappa
- linked to 2015 MLD
- linked to 2018 pycnocline

NOTE:
/// for this I need to work on the model first of all

## Claudia & Jay - upwelling 21 deg isopycnal categories
/Strong upwelling	// Pycnoclin is >35  
/moderate upwelling	// pycnocline is >50, <35  
/weak upwelling	// Pycnocline starts to climb but is below 50m

### but let's get MLD data and pycnocline data into this notebook for later modification

In [1]:
packs <- c("tidyverse","cowplot","scales","oce")

# install.packages(packs)

In [3]:
require(tidyverse, warn.conflicts = FALSE)
require(cowplot, warn.conflicts = FALSE)
require(scales, warn.conflicts = FALSE)

require(oce, warn.conflicts = FALSE)

In [4]:
# read MLD and euphotic depth file
MLD2EuZ <- read.csv("MLD2EuZ_2.csv")

# read Date column
MLD2EuZ$Date <- as.Date(MLD2EuZ$Date, format="%Y-%m-%d")

In [5]:
head(MLD2EuZ)

  X CruiseID Date       MLD2015 MLD2019 x0.1 x1 x10 X21degC X22degC
1 1 93HG_001 1995-11-08 NA      24.138  NA   NA NA  130     118
2 2 93HG_002 1995-12-13 NA      18.103  NA   NA NA  114      94
3 3 93HG_003 1996-01-12 36      10.057  NA   NA NA  102      62
4 4 93HG_004 1996-02-13 28       8.046  NA   NA NA   94      66
5 5 93HG_005 1996-03-13 28      10.057  NA   NA NA   48      24
6 6 93HG_006 1996-04-16 32       7.040  NA   NA NA   48      26